<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>PROJECT1</display-name>
	<filter>
		<description>
		</description>
		<display-name>Filter1</display-name>
		<filter-name>Filter1</filter-name>
		<filter-class>controller.Filter1</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>FilterTransfer</display-name>
		<filter-name>FilterTransfer</filter-name>
		<filter-class>controller.FilterTransfer</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter1</filter-name>
		<url-pattern>/Filter1</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Filter1</filter-name>
		<servlet-name>ChangePassword</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterTransfer</filter-name>
		<url-pattern>/FilterTransfer</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterTransfer</filter-name>
		<servlet-name>TransferAmount</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckBalance</display-name>
		<servlet-name>CheckBalance</servlet-name>
		<servlet-class>controller.CheckBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>controller.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferAmount</display-name>
		<servlet-name>TransferAmount</servlet-name>
		<servlet-class>controller.TransferAmount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatement</display-name>
		<servlet-name>GetStatement</servlet-name>
		<servlet-class>controller.GetStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ApplyLoan</display-name>
		<servlet-name>ApplyLoan</servlet-name>
		<servlet-class>controller.ApplyLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Mail</display-name>
		<servlet-name>Mail</servlet-name>
		<servlet-class>controller.Mail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPass</display-name>
		<servlet-name>ForgotPass</servlet-name>
		<servlet-class>controller.ForgotPass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBalance</servlet-name>
		<url-pattern>/CheckBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferAmount</servlet-name>
		<url-pattern>/TransferAmount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatement</servlet-name>
		<url-pattern>/GetStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyLoan</servlet-name>
		<url-pattern>/ApplyLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mail</servlet-name>
		<url-pattern>/Mail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPass</servlet-name>
		<url-pattern>/ForgotPass</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
